*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
bin/*
.bundle/*

# OSX
.DS_Store

# FPM temporary and cache files
cache/
pkg/
tmp-*/
.buildpath
.project

# Vagrant
.vagrant/*

# Rbenv
.ruby-version
